.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
      }
    }

.optional {
  font-size: 10px;
}

.sidebar-menu li > a > .pull-right-container {
  margin-top: -15px !important;
}
.badge.badge-outlined {
  background-color: transparent
}

.badge.badge-outlined.badge-default {
  border-color: #B0BEC5;
  color: #B0BEC5
}

.badge.badge-outlined.badge-primary {
  border-color: #2196F3;
  color: #2196F3
}

.badge.badge-outlined.badge-secondary {
  border-color: #323a45;
  color: #323a45
}

.badge.badge-outlined.badge-success {
  border-color: #64DD17;
  color: #64DD17
}

.badge.badge-outlined.badge-warning {
  border-color: #FFD600;
  color: #FFD600
}

.badge.badge-outlined.badge-info {
  border-color: #29B6F6;
  color: #29B6F6
}

.badge.badge-outlined.badge-danger {
  border-color: #ef1c1c;
  color: #ef1c1c
}
.editor-area {
  max-height: 360px !important;
  overflow-y: scroll;
}
#gallery {
  height: 300px;
  overflow: scroll;
  border: #939394 1px solid;
}
.gallery-btn {
  background: none;
  border: 1px solid #939394;
  border-radius: 5px !important;
  padding: 0;
}
.gallery-image {
  height: 100px !important;
  width: auto !important;
}
.tox-promotion, .tox-statusbar__branding {
  display: none;
}
label {
  font-style: italic;
  font-weight: 600;
}


  